body{ /* Define a cor do texto e a fonte padrão de todo o "body" */
    color: #333333;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif
}

.sacola { /* class="sacola" */
    
    /* A background-image da sacola ocupa toda a extensão horizontal do body, com imagens repetidas.
    Definimos "background-repeat: no-repeat" para que somente tenha uma unica imagem no paragrafo com class="sacola"
    Por padrão, a imagem é alinhada a esquerda (left), colocamos então a direita (right) e ao topo (top)  */
    
    background-image: url(../img/sacola.png) ;
    background-repeat: no-repeat;
    background-position: top right;
    font-size: 14px;
    
    padding-right: 35px; /* Caso não seja colocado este espaçamento, o texto "Nenhum item na sacola de compras"
    ficará na frente do ícone de sacola */
    
    text-align: right; /* O texto, por padrão é alinhado na margem esquerda (left), sendo colocado na direita (right) */
    
    width: 140px; /* A propriedade "width" é aplicada ao texto contendo 140px, como a propriedade "padding" possui
    35px, aparece 175px no browser (140px + 35px). Mantém o texto alinhado, sendo o texto "Nenhum item na sacola de
    compras" apresentado em duas linhas. Também sem essa propriedade, o ícone da sacola fica "cortado", provavelmente
    porque, ao deixar o texto com duas linhas, da espaço para que a figura aparece inteira */
    
    padding-top: 8px; /* O texto "Nenhum item na sacola de compras" estava um pouco acima do ícone de sacolas sendo 
    utilizado um pequeno espaçamento interno (padding-top = dentro das bordas do elemento) de 8px, entre o elemento pai 
    (class="sacola") e o texto "Nenhum item na sacola de compras". */
}

.menu-opcoes ul li{ /* Seletor hierárquico, aplica somente nas tags filhas no qual a tag pai possui class="menu-opcoes".
    Nesse caso especifico, se refere a <nav class="menu-opcoes"> <ul ... */
    font-size: 15px;
    display: inline; /* Esta propriedade possui duas opções 
    Block: O elemento ocupa toda a linha do html como "<h1>-<h6>", "<div>" "<p>" 
    Inline: O elemento aceita outros elementos na mesma linha, como "<strong>" "<em>", etc.*/
}

.menu-opcoes a{ /* Aplica tais propriedades nas tags filhas "anchor" (ancora), que redireciona para o link de outra pagina 
    Nesse caso especifico, se refere a <nav class="menu-opcoes"> <ul> <li> <a href=...></a> */
    color: #036;
}

.container{
    margin: 0 auto;
    width: 940px;
}